html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 853px;
}
body {
	background-color: #E7EBF2;
}
#bluebar {
	position: relative;
	height: 37px;
	background-color: #3B5998;
	border-bottom: 1px solid #133783;
	width: 100%;
}

#bluebar .social-network {
	position: relative;
	float: left;
	top: 50%;
	border: none;
	overflow: hidden;
}

#bluebar .social-network.facebook {
	height: 22px;
	margin-top: -11px;
	width: 100px;
}
#bluebar .social-network.google {
	height: 24px;
	margin-top: -12px;
	width: 50px;
}
#bluebar .social-network.twitter {
	height: 22px;
	margin-top: -11px;
	width: 90px;
}
#bluebar .social-network.stumble {
	height: 22px;
	margin-top: -11px;
	width: 65px;
}

#content {
	width: 853px;
	margin: 0 auto;
	min-height: 100px;
	position: relative;
}
#content_inner > canvas {
	cursor: move;
}
#content_inner.facebook #canvas_picture {
	background-color: #FFF;
	border: 4px solid white;
	position: absolute;
	top: 201px;
	left: 27px;
}
#content_inner.facebook {
	width: 850px;
	height: 370px;
}
#content_inner.google {
	margin-top: 10px;
	width: 940px;
	height: 250px;
}
#content_inner.google #canvas_cover {
	top: 44px;
	position: relative;
}
#content_inner.google #canvas_picture {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 5px;
	-webkit-border-radius: 3px;
	left: 622px;
	position: absolute;
	top: 0;
}

#save {
	height: 5px;
	line-height: 5px;
	width: 80px;
	float: right;
	margin: 3px 50px 0 0;
	font-size: 20px;
}

.scroller {
	height: 2px;
	background-color: #ccc;
	position: relative;
}
.scroller > div {
	height: 10px;
	width : 5px;
	display: inline-block;
	top: -4px;
	position: absolute;
	background-color: #000;
}
.scroller_drag {
	cursor: pointer;
}

#cover_slider_choice {
	display: none;
}
#content.splited #cover_slider_choice {
	display: inline-block;
	height: 50px;
}
#cover_slider_choice label {
	line-height: 25px;
	height: 25px;
	display: block;
}
#content.splited #cover_slider {
	top: -19px;
}


#overlay {
	background-color: #000000;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	display: none;
}
#popup {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: #E7EBF2;
	z-index: 30;
	border: 4px solid #C4CDE0;
	border-radius: 2px;
	display: none;
	overflow: hidden;
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 15px;
	padding: 10px;
}
#popup h1 {
	text-align: center;
}

#popup_header {
	display: none;
}

#popup.closable #popup_header {
	position: absolute;
	display: block;
	margin-bottom: 5px;
	background-color: #3B5998;
	border-bottom: 1px solid #133783;
	width: 100%;
	top: 0;
	left: 0;
	text-align: right;
	color: #FFF !important;
}

#popup_content {
	position: relative;
	min-height: 200px;
	min-width: 500px;
	width: 100%;
	height: 100%;
}

#popup_content.cover_save {
	text-align: center;
}
#popup_content.cover_save p {
	text-align: left;
}
#popup_content.cover_save img:last-child {
	margin-left: 10px;
}
