html, body {
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body.wait {
	cursor: wait;
}

#template {
	display: none;
}

#header {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	height: 10%;
	min-height: 50px;
	background-image: url(../image/separator.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 150px;
	z-index: 3;
}
#header h1 {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	font-size: 2em;
}

.step {
	position: relative;
	min-height: 150px;
	text-align: center;
	border-top: 2px solid #ccc;
	z-index: 2;
}
.step.disabled {
	z-index: 0;
}
.step.disabled .button.highlight {
	background: #4195DD;
}
.step:first-child {
	border: 0;
}

label {
	position: relative;
}
label input[type="file"] {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#step_choice a:first-child {
	margin-right: 50px;
}

#step_linked_image .picture_url {
	width: 300px;
}

.upload_fields {
	display: none;
	margin-top: 10px;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.7;
	background-color: #FFF;
}

#previous {
	position: absolute;
	top: 0;
	display: none;
	z-index: 3;
	right: 10px;
	margin-top: 10px;
}

#disclaimer {
	font-size: 13px;
}

#disclaimer ul {
	list-style: none;
	padding: 0;
}

#examples {
    z-index: 3;
    position: relative;
    text-align: center;
}

img.thumb {
    width: 300px;
}
