html, body {
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#template {
	display: none;
}

#header {
	position: relative;
	top: 0;
	width: 100%;
	text-align: center;
	height: 10%;
	min-height: 50px;
	background-image: url(separator.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 140px;
	z-index: 3;
}
#header h1 {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: 50%;
	margin: -0.5em 0 0;
}

.step {
	position: relative;
	min-height: 150px;
	text-align: center;
	border-top: 2px solid #ccc;
	z-index: 2;
}
.step.disabled {
	z-index: 0;
}
.step:first-child {
	border: 0;
}

.button {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size: 30px;
	color: #000;
	text-decoration: none;
	display: inline-block;
	width: 478px;
	height: 36px;
	padding: 10px;
	border: 2px solid #DDD;
	text-align: center;
	box-shadow: 1px 1px 0 #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #FFF;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	background: -moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	cursor: pointer;
}
.button img {
	vertical-align: middle;
	height: 35px;
}
.button.disabled {
	cursor: default;
	color: #000 !important;
	border-color: #AAA !important;
	background: #CCC !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#EEE)) !important;
	background: -moz-linear-gradient(0% 90% 90deg, #EEE, #CCC) !important;
}
.button:hover {
	color: #fff;
	border-color: #3278BE;
	background: #4195DD;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4195DD), to(#003C82));
	background: -moz-linear-gradient(0% 90% 90deg, #003C82, #4195DD);
}
.button:active {
	background: #4195DD;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#003C82), to(#4195DD));
	background: -moz-linear-gradient(0% 90% 90deg, #4195DD, #003C82);
}

label {
	position: relative;
}
label input[type="file"] {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#step_choice a:first-child {
	margin-right: 50px;
}

#step_linked_image .picture_url {
	width: 300px;
}

.upload_fields {
	display: none;
	margin-top: 10px;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.7;
	background-color: #FFF;
}

#previous {
	position: absolute;
	top: 0;
	display: none;
	z-index: 3;
	right: 10px;
	margin-top: 10px;
}